
<div id="left">
  <div class="left-content">
    <h1 class="big-heading">Übersicht</h1>
    <ul class="days-list">
      <% daysList.forEach(function(item){ %>
         <li class="btn list-item"> <%= item.name %> </li>
      <% }); %>

      </ul>
  </div>

</div>
