<div id="right">
  <h1 class="big-heading">Neues Datum</h1>
  
  <div class="right-content">
    <form class="date-form" action="/" method="post">
      <input class="datepicker" type="date" id="start" name="date" value="2022-01-01" min="" max="2022-12-31" ,>
      <input class="datename-input" type="text" name="dateName" value="" placeholder="Neues Datum">

      <button class="btn new-date-btn" type="submit" name="button">Erstellen</button>
    </form>
  </div>

</div>
