body {
  font-family: 'Roboto', sans-serif;


  color: #fff;
  background-color: #000;
  margin: 0;
}




.swiper {
  width: 100vw;
  height: 100vh;
}

.swiper-slide {
  overflow: scroll;
}

#main {
  text-align: center;
}


.main-content {
  text-align: center;
  margin: auto;
  margin-top: 60%;
}

.days-subheading {
  font-weight: 300;
  font-size: 4rem;

  margin: 0;
}

.days-heading {
  font-weight: 500;
  font-size: 8rem;

  margin: 0 0 3% 0;
}



/* LINKE SEITE VON DER WEBAPP */
#left {
  text-align: center;
}

.left-content {
  text-align: center;
}

.big-heading {
  font-weight: 500;
  font-size: 8rem;

  margin: auto;
  margin: 5% 0 15%;
}

.days-list {
  padding: 0;
  max-width: 100%;
}

.list-item {
  font-weight: 300;
  font-size: 5rem;



  width: 90%;
  height: 300px;
  line-height: 300px;
  margin: auto;
  margin-bottom: 5%;

  border: 5px solid #fff;
  border-radius: 12.5px;
  list-style-type: none;

}

.list-item:active {
  background-color: #fff;
  color: #000;
}


.delete {
  background-color: #000;
  color: red;
  border: 5px solid red;
}

.delete:active {
  background-color: red;
  color: #000;
}

.edit-btn {
  background-color: #000;
  color: #fff;

  font-weight: 500;
  font-size: 4rem;


  border: 5px solid #fff;
  border-radius: 12.5px;

  margin: 10% 0;
}

.edit-btn:active{
  background-color: #fff;
  color: #000;
}

.edit-btn-toggled {
  background-color: #fff;
  color: #000;
  
}

/* RECHTE SEITE VON DER WEBAPP */
#right {
  text-align: center;
}

.right-content {
  text-align: center;
  width: 90%;

  margin: auto;
  margin-top: 60%;


}



.datename-input {
  display: block;
  text-align: center;
  width: 80%;
  height: 76px;

  color: inherit;
  background-color: inherit;

  font-weight: 300;
  font-size: 4rem;

  border: 0;
  outline: 0;
  padding: 0;

  margin: auto;


}

.datepicker {
  display: block;
  width: 80%;
  height: 153px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 8rem;


  color: inherit;
  background-color: inherit;
  border: 0;

  padding: 0;
  margin: auto;
  margin-bottom: 3%;

}


.new-date-btn {
  margin-top: 30%;

  font-weight: 500;
  font-size: 6rem;

  color: inherit;
  background: inherit;

  border: 5px solid #fff;
  border-radius: 12.5px;
}


.btn {
  /* background-color: #000;
  color: #fff; */
}

.btn:active{
  background-color: #fff;
  color: #000;
}
